.image {
  width: 100px;
  height: 100px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  max-width: 300px;
  max-height: 300px;
}
.selected {
  font-weight: bold;
}
