header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-height: 100px;
  background: linear-gradient(90deg, #0b3975 0%, #2f5f86 100%);
  justify-content: center;
  justify-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
.logo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 60px;
  color: #ffffff;
  margin-right: auto;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #ff4820;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 1rem;
  max-width: 100px;
}
.button:hover {
  background-color: blue;
}
