.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: flex-start;
  color: #fff;
  font-family: 'poppins';
}
.Content {
  margin-bottom: auto;
}
.Footer {
  align-self: flex-end;
  margin-top: 10rem;
}
.post-enter {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
.page_wrapper {
  margin-top: 1rem;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.page {
  padding: 10px;
  width: 35px;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
  margin: 0.1rem;
  text-align: center;
  background-color: #f34f2e;
  border: none;
  cursor: pointer;
}
.page:hover {
  background-color: #ee735b;
}
.page_current {
  border: 1px solid gold;
  font-weight: bold;
}
