.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: flex-start;
  color: #fff;
  font-family: 'poppins';
}
.Content {
  margin-bottom: auto;
}
.Footer {
  align-self: flex-end;
  margin-top: 10rem;
}
.post-enter {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
.page_wrapper {
  margin: 15px 0px 10px 0px;
  display: flex;
}
.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}
.page_current {
  border: 1px solid gold;
  font-weight: bold;
}
