.App {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.2fr 1.8fr;
  grid-template-rows: 0.3fr 2.5fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    'Header Header'
    'NavBar Content'
    'Footer Footer';
}
.Header {
  grid-area: Header;
}
.NavBar {
  grid-area: NavBar;
}
.Content {
  grid-area: Content;
}
.Footer {
  grid-area: Footer;
}
